### 1. Import Packages

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, mean_absolute_error

print('All packages successfully loaded')

All packages successfully loaded

### 2. Load Data & Peak Sheet

In [2]:
df = pd.read_excel("/Users/nova/Desktop/Thesis/Metabolomics ML/data/MTBLS404.xlsx", index_col="Idx")

X = df.drop(columns=['SampleID', 'Sex', 'Class'], axis = 'columns')
X.head()

/Users/nova/Programming/anaconda3/envs/thesis/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,M1,M2,M3,M4,M5,M6,M7,M8,M9,M10,...,M111,M112,M113,M114,M115,M116,M117,M118,M119,M120
Idx,,,,,,,,,,,,,,,,,,,,,
1,33714.0,256102,256102,1120354.0,2410036,11549910,5914542,255309,155435.0,125874,...,521907.0,171324.0,127231.0,5112492.0,28514582,28514582,294841,548818.0,1910687.0,740657.0
2,99843.0,309401,309401,1398006.0,6026857,5257922,3285537,311879,734516.0,119612,...,1833652.0,12438.0,979416.0,1895831.0,20498119,20498119,328083,199436.0,1784458.0,473682.0
3,88831.0,446367,446367,2525989.0,9245374,17608775,19325552,428765,70418.0,169212,...,892482.0,176146.0,223930.0,627359.0,17310020,17310020,538890,719392.0,4061269.0,721180.0
4,3193.0,202963,202963,1328899.0,3085203,10657431,5702720,139264,43780.0,51922,...,387400.0,84087.0,371298.0,571396.0,9114737,9114737,362404,165869.0,1059712.0,286081.0
5,148709.0,1141194,1141194,2213443.0,7049050,13044183,7724079,1294393,506.5,178667,...,576816.0,451233.0,602941.0,3336582.0,19810476,19810476,480038,420048.0,2083576.0,1034769.0

### 2.1 Text Pre-Processing

In [3]:
# Rimuoviamo eventuali spazi bianchi in eccesso nelle stringhe

### 3. Extract X & Y

In [4]:
y = df.Class
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### 5. Build Model & Evaluate

In [5]:
svm_classifier = svm.SVC(kernel='linear', C=1.0)
svm_classifier.fit(X_train, y_train)

y_pred = svm_classifier.predict(X_test)

# Valutazione delle prestazioni del modello
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
print('Accuracy: ', accuracy)
print('Classification report: \n', report)

Accuracy:  0.6756756756756757
Classification report:
               precision    recall  f1-score   support

           0       0.62      0.62      0.62        16
           1       0.71      0.71      0.71        21

    accuracy                           0.68        37
   macro avg       0.67      0.67      0.67        37
weighted avg       0.68      0.68      0.68        37