### 1. Import Packages

In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import accuracy_score, classification_report, mean_absolute_error

print('All packages successfully loaded')

All packages successfully loaded

### 2. Load Data & Peak Sheet

In [11]:
df = pd.read_excel("/Users/nova/Desktop/Thesis/Metabolomics ML/data/MTBLS90.xlsx", index_col="Idx")
df.head()

/Users/nova/Programming/anaconda3/envs/thesis/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,SampleID,Class,Sex,M1,M2,M3,M4,M5,M6,M7,...,M180,M181,M182,M183,M184,M185,M186,M187,M188,M189
Idx,,,,,,,,,,,,,,,,,,,,,
1,subject_1524,0,Female,14.98474,14.49947,12.097435,12.043818,11.436392,16.07217,17.01090,...,20.70097,20.19814,21.28179,21.09176,16.46404,12.269896,17.29323,19.81546,19.35259,12.71608
2,subject_1525,1,Male,15.17667,14.50172,12.363773,12.240458,11.577436,14.93265,16.90847,...,21.68605,20.51608,21.25777,20.53935,16.33413,12.031267,18.08144,19.96693,19.50694,13.20891
3,subject_1527,1,Male,15.35934,14.41941,12.510494,11.234959,11.199970,15.22600,17.17192,...,20.46320,20.34297,21.34793,20.81883,16.44281,12.679043,17.24765,20.01505,20.34058,12.98210
4,subject_1528,1,Male,15.12638,14.75630,13.001426,12.640496,11.244146,14.78994,16.47827,...,21.36879,20.93957,21.09719,20.82021,16.27483,12.323163,17.72392,19.57522,19.18157,12.41039
5,subject_1529,1,Male,15.20272,14.48083,12.392280,10.779516,10.968423,15.75598,17.20552,...,20.80482,19.82493,20.84250,20.31349,16.33279,12.352881,17.59348,19.88594,18.66284,12.37479

### 3. Extract X & Y

In [12]:
X = df.drop(columns=['SampleID', 'Sex', 'Class'], axis = 'columns')
y = df.Class
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### 5. Build Model & Evaluate

In [13]:
def svm_classification(): 
    svm_classifier = svm.SVC(kernel='linear', C=1.0)
    svm_classifier.fit(X_train, y_train)
    predictions = svm_classifier.predict(X_test)
    
    report = classification_report(y_test, predictions)
    print('CLASSIFICATION REPORT: \n', report)

svm_classification()

CLASSIFICATION REPORT:
               precision    recall  f1-score   support

           0       0.78      0.70      0.74        97
           1       0.73      0.80      0.76        97

    accuracy                           0.75       194
   macro avg       0.76      0.75      0.75       194
weighted avg       0.76      0.75      0.75       194

### K-Fold evaluation

In [14]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)

for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

svm_classification()

KeyError: "None of [Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,\n            ...\n            952, 955, 956, 957, 958, 959, 960, 961, 964, 967],\n           dtype='int64', length=774)] are in the [columns]"